.site-header {
  background-color: rgba(0, 0, 0, .85);
  backdrop-filter: saturate(180%) blur(20px);
}

.logo-link img {
  width: 100px;
}

.container-header {
  max-width: 960px!important;
}

.site-header a {
  color: #fff;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #999;
  text-decoration: none;
}

.cart-baggage-link {
  & i {
    color: #ff9800;
  }
}

.cart-link {
  position: relative;

  & .cart-baggage {
    margin: auto;
    min-width: 8px;
    border-radius: 13px;
    background-color: #c9002c;
    text-align: center;
    display: inline-block;
    position: absolute;
    right: -17px;
    top: 4px;
    z-index: 2;
    font: bold 11px Arial;
    color: #fff;
    padding: 2px 4px;
    border: 1px solid #afafaf;
  }
}

