.admin-content {
  margin: 50px 0;
}

.form-section {
  width: 50%;
  margin: auto;
}

.valid-feedback i, .invalid-feedback i, .add-product-btn i{
  margin-right: 5px;
}

.product-sow-image {
  margin-top: 10px;

  & img {
    max-height: 420px;
    max-width: 420px;
  }
}

.alert-msg {
  display: none;

  & i {
    margin-right: 7px;
  }

  &.alert-success , &.alert-danger {
    display: block;
  }
}

.add-prod-loader {
  margin-left: 20px;
  & > div {
    display: inline-block;
  }
}