body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
    height: 100%;
    margin: 0;
}

.vh-100 {
    height: 100vh;
}

.App {
    display: flex;
    flex-flow: column;
    height: 100%;
    min-height: 100vh;
}

.App #header {
    flex: 0 1 auto;
}

.App #container {
    flex: 1 1 auto;
}

.App #footer {
    flex: 0 1 auto;
}


.others-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.loader-title, .empty-title {
    font-size: 23px;
    padding-top: 16px;
    font-weight: 700;
    font-family: cursive;
    color: #045c6b;
}

.empty-icon {
    font-size: 50px;
    color: #045c6b;
    font-family: initial;
}